@media all and (min-width: 480px) {
    .Registro {
      padding: 200px 0;
     
    }

    .Registro form {
        margin: 0 auto;
        max-width: 320px; 
        background-color: aliceblue;
        opacity:0.9;
        border-radius: 3%;
      }

      .Fondo{
        background-image: url(C:\Users\migue\Proyecto_Softwarell\virtualsipgbfront\src\Imagenes\Fondo.jpg);
        background-repeat: 'no-repeat';
        width: '200%';
        height: '200%';
    }
    
    }